{% extends "layout.html" %}
{% block body_content %}
<p>Product Name: {{data.name}}</p>
<p>Style: {{data.style}}</p>
<p>Size: {{data.size}}</p>
<p>Volume: {{data.volume}}</p>
<p>Price: {{data.price}}</p>
<div class="form-group">
    <!-- the form -->
    <form method='POST' action=''>
	    {{ form.hidden_tag() }}
	    {{ form.quantity.label }}
	    {{ form.quantity }}
	    {% if form.quantity.errors %}
	    <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
	    <div class="error">
                <!-- for each error in the errors for the first_name input field -->
		{% for error in form.quantity.errors %}
                    <!-- display the error -->
                    <span>{{ error }}</span>
                <!-- end the for-loop -->
                {% endfor %}
            </div>
	    {% endif %}

	    {{ form.submit }}
{% endblock %}
